{% extends 'base.html.twig' %}

{% block title %}Hello JeuController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1>Hello
			{{ controller_name }}! ✅</h1>

		{% for  row in jeux|batch(4) %}
			<div class="row mb-5">
				{% for  game in row %}
					<div class="col-lg-3">
						<article class="game bg-white rounded shadow">
							<div class="mw-100 overflow-hidden rounded-top">

								<img src="{{ vich_uploader_asset(game) |imagine_filter('squared_thumbnail_medium')}}" alt="{{ game.nom }}" class="w-100 "/>

							</div>
							<h2 class="h5 pl-3 pt-3 pb-3">
								<a class="text-secondary text-decoration-none" href="{{ path('show_game', { 'id' : game.id } ) }}">
									{% set prix = PrixCourant(game.id) %}
									{{ game.nom }}
									{% if (prix != 0 ) %}
										(à partir de :
										{{ prix }}€)
									{% else %}
										<i>(Rupture)</i>
									{% endif %}


								</a>
							</h2>

						</form>

					</article>
				</div>
			{% endfor %}

		</div>
	{% endfor %}


{% endblock %}
