{% extends 'base.html.twig' %}

{% block title %}Hello JeuController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>
	<div class="example-wrapper">
		<h1>Hello
			{{ controller_name }}! ✅</h1>
		<div class="row mb-5">
			<div class="col-lg-4">
				<article class="game bg-white rounded shadow">
					<div class="mw-100 overflow-hidden rounded-top">
						<img src="{{ vich_uploader_asset(game) |imagine_filter('squared_thumbnail_medium')}}" alt="{{ game.nom }}" class="w-100 "/>
					</div>
				</article>
			</div>
			<div class="col-lg-8">
				<h2 class=" pl-3 pt-3 pb-3">
					<a class="text-secondary text-decoration-none" href="{{ path('show_game', { 'id' : game.id } ) }}">
						{{ game.nom }}
						(à partir de :
						{{ PrixCourant(game.id)}}
						€)
					</a>
				</h2>
				<div class="row mb-5">
					<div class="col-lg-4">
						Prix Mini:
						{{ PrixMin(game.id)}}
						€
					</div>
					<div class="col-lg-4">
						Prix Maxi:
						{{ PrixMax(game.id)}}
						€
					</div>
				</div>
				<div class="row mb-5">
					<div class="col-lg-8">
						<i class="far fa-calendar-alt"></i>
						&nbsp;
						{{game.dateSortie|date("d/m/Y")}}
						({{game.dateSortie|ago}})

					</div>

				</div>
			</div>
		</div>
		{% for  prix in game.prixes| sort((a, b) => a.prixCourant <=> b.prixCourant) %}
			{% if (prix.prixCourant != 0) %}
				<article class="game bg-white rounded shadow">
					<div class="mw-100 overflow-hidden rounded-top"></div>
					<h2 class="h5 pl-3 pt-3 pb-2">

						<div class="row">
							<div class="col-md-1">
								<img src="{{ vich_uploader_asset(prix.enseigne) | imagine_filter('squared_thumbnail_mini')}}" alt="{{ prix.enseigne }}" class="w-10 "/>
							</div>
							<div class="col-md-2">
								<div class="console console-{{prix.console.fabricant.nom}}">
									{% if (prix.console.fabricant.id ) == 1 %}
										<i class="fab fa-playstation"></i>
									{% elseif (prix.console.fabricant.id ) == 2 %}
										<i class="fab fa-xbox"></i>
									{% elseif (prix.console.fabricant.id)==3 %}
										<span class="iconify" data-icon="fa-brands:nintendo-switch" data-inline="true"></span>

									{% endif %}
									{{prix.console.nom}}
								</div>
							</div>
							<div class="col-md-2">
								{{ (prix.prixMin /100)|number_format(2) }}
								€
							</div>
							<div class="col-md-2">
								{{ (prix.prixMax /100)|number_format(2) }}
								€
							</div>
							<div class="col-md-1">
								{% if (prix.prixCourant != 0 and prix.prixAncien is null ) %}
									<i class="fas fa-equals" style="color:black"></i>
								{% endif %}

								{% if (prix.prixCourant != 0 and prix.prixAncien !=0) %}
									{% if (prix.prixCourant < prix.prixAncien) %}
										<i class="far fa-arrow-alt-circle-down" style="color:green"></i>
									{% else %}
										<i class="far fa-arrow-alt-circle-up" style="color:red"></i>
									{% endif %}

								{% endif %}
							</div>
							<div class="col-md-2">
								{{ (prix.prixCourant /100)|number_format(2) }}
								€
							</div>
							<div class="col-md-2">
								<a href="{{prix.url}}" target="_blank" class="btn btn-light">
									<i class="far fa-eye" style="color:blue"></i>
								</a>
							</div>
						</div>

					</h2>

				</article>
			{% endif %}
		{% endfor %}
	{% endblock %}
