{% extends 'base.html.twig' %}

{% block title %}Prix index
{% endblock %}

{% block body %}
	<h1>Prix index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Nom</th>
				<th>Url</th>
				<th>PrixCourant</th>
				<th>PrixAncien</th>
				<th>Evolution</th>
				<th>PrixMax</th>
				<th>PrixMin</th>


				<th>UpdatedAt</th>

			</tr>
		</thead>
		<tbody>
			{% for prix in prixes %}
				<tr>
					<td>{{ prix.jeu.nom }}</td>
					<td>{{ prix.url }}</td>
					<td>{{ prix.prixCourant }}</td>
					<td>{{ prix.prixAncien }}</td>
					<td>{{ prix.evolution }}</td>
					<td>{{ prix.prixMax }}</td>
					<td>{{ prix.prixMin }}</td>

					<td>{{ prix.updatedAt ? prix.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="11">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>


{% endblock %}
