{% extends 'base.html.twig' %}

{% block title %}Prix{% endblock %}

{% block body %}
    <h1>Prix</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ prix.id }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ prix.url }}</td>
            </tr>
            <tr>
                <th>PrixCourant</th>
                <td>{{ prix.prixCourant }}</td>
            </tr>
            <tr>
                <th>PrixAncien</th>
                <td>{{ prix.prixAncien }}</td>
            </tr>
            <tr>
                <th>Evolution</th>
                <td>{{ prix.evolution }}</td>
            </tr>
            <tr>
                <th>PrixMax</th>
                <td>{{ prix.prixMax }}</td>
            </tr>
            <tr>
                <th>PrixMin</th>
                <td>{{ prix.prixMin }}</td>
            </tr>
            <tr>
                <th>IsToCheck</th>
                <td>{{ prix.isToCheck ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ prix.createdAt ? prix.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ prix.updatedAt ? prix.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('prix_index') }}">back to list</a>

    <a href="{{ path('prix_edit', {'id': prix.id}) }}">edit</a>

    {{ include('prix/_delete_form.html.twig') }}
{% endblock %}
